{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div style="width:15%; margin-left:40%" >
  <form method="post" class="form-signin"  action=".">
    {% csrf_token %}
    {% bootstrap_form form %}

    <input type="submit" class="btn btn-primary" value="Log in" style="margin-left:30%"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <div style="margin-top:10%">
    <p>{% trans "No estoy registrado" %} <a href="{% url 'registration_register' %}">{% trans "Registarse" %}</a>!</p>
  </div>
</div>
{% endblock %}
