<!DOCTYPE html>
{% load i18n %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.2/css/bootcards-desktop.min.css" >
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">

      <a class="navbar-brand" href="#">RestauranWeb</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="active">
            <a class="nav-link" href="http://localhost:8000/restaurantes/home">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="active">
            <a class="nav-link" href="http://localhost:8000/restaurantes/listRestaurants/">Restaurantes</a>
          </li>
          <li class="dropdown active">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="http://localhost:8000/restaurantes/addRestaurant/">Añadir</a>
              <a class="dropdown-item" href="http://localhost:8000/accounts/logout/">Salir</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-left:43%" id="search_form" method="post" action="/restaurantes/searchRestaurant/">
          {% csrf_token %}


          <br>
          <input class="form-control mr-sm-2" maxlength="8" type="text" name="searched_id" placeholder="Buscar">
        </form>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
              <a class="nav-link">{% trans "Usuario" %}: {{ user.username }}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'auth_logout' %}">( {% trans "Log out" %} )</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}

    </div><!-- /.container -->
    <script>
      $(document).ready(function(){
        $('ul li a').click(function(){
          $('li a').removeClass("active");
          $(this).addClass("active");
        });
      });
    <script>

  </body>
</html>
